.flexContainer {
  height: 90vh;
  display: flex;
  /* justify-content: flex-end; */
  border: 2px solid red;
  /* align-items: center;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  /* align-content: flex-end; */
  /* flex-flow: column wrap; */
  gap: 20px;
}

.flexItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  color: red;
  background-color: yellow;
  border: 2px solid red;
  text-align: center;
}

.a {
  order: 1000;
  /* align-self: flex-end; */
}

/*  
.b {
  height: 150px;
} */
